.header{
    background-color: #1F2937;
    color:#F9FAF8;
    font-size: 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0px;
    padding: 8px;
    flex:1 1 auto;

}
body{
    margin:0;
}

nav{
    font-size:18px;
    display:flex;
    flex-direction: row;
    gap: 8px;
    
    

}
a{
    font-family: sans-serif;
    color:#F9FAF8;
    text-decoration:none;
    margin:8px;
    gap:8px;
}
.sectionone {
    margin:0;
    font-size: 23px;
}
.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    margin:0;
    display:flex;
    align-items:center;
    justify-content: space-around;
    
}
.hero-h1{
    font-size:48px;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    flex-wrap: wrap;
    
}
.hero-h2{
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
}
.left-text{
    align-items: center;
    
}
.rightimage{
    margin-bottom:8px;
    padding:8px;
    display:flex;
    justify-content: space-between;
}
.button{
    color:#F9FAF8;
    background-color: #0000ff;
    border-radius:12px;
    display:block;
    margin: 0 auto;
}
.subheading{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    color:#1F2937;
    text-align: center;
    font-weight:bold;

}
#contain{
    display:flex;
    flex-wrap: nowrap;
    justify-items: center;


}

.item{
    flex: 0 48%;
    margin: 1% 1% 8px 1%;
    gap:5px;
}

.item img{
    max-width: 100%;
    display:block;
    margin: 0px;
    max-height:200px;
}
.text{
    font-size:18px;
    font-family:'Times New Roman', Times, serif
}